p{
    color:green;
    font-style: italic;
    font-weight: bold;
}

h1{
    color: blue;
    text-transform: uppercase;
}

h2{
   text-transform: uppercase;  
}

.prueba{
   color: red;
   font-size: 19px; 
}

#rojo{
    width: 300px; /*ancho*/
    height: 300px;/*alto*/
    background-color: red;
}

#azul{
    width: 300px; /*ancho*/
    height: 300px;/*alto*/
    background-color: blue;
   
    text-align: center;
}

#azul p{ /* compuesto */
     color: white;
}

.testimonios p{
    color: pink;
}

#rojo:hover{
    background-color: yellow;
}